* {
    box-sizing: border-box;
    /* position: absolute;  */
}

.header{
    width: 850px;
    height: 400px;
    background-color: darkblue;
    border: solid black 5px;
    margin: 0 auto;
  }

.heading-background {
    width: 850;
    height: 400px;
    background-image: none;
}

.profile-picture {
    width: 200px;
    height: 180px;
    background-color: darkcyan;
    border: solid black 5px;
    top: 240px;
    left: 15px;
    border-radius: 5px;
    position: relative;
}

h1 {
    font-size: 20px;
    top: 125px;
    left: 230px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    display: inline;
}

h2 {
    font-size: 15px;
    top:170px;
    left:55px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    display: inline;
}

.profile-buttons {
    float: right;
    top: 150px;
    right: 5px;
    position: relative;

}

.profile-buttons .Like {
    border: solid black 2px;
    border-radius: 2px;
}

.profile-buttons .Follow {
    left: 53px;
    border: solid black 2px;
    border-radius: 2px;
}

.profile-buttons .Message {
    left: 105px;
    border: solid black 2px;
    border-radius: 2px;
}

.profile-buttons .More {
    left: 170px;
    border: solid black 2px;
    content: "•••"
}

nav {
    font-size: large;
    text-align: center;
}

nav .container1 ul {
    list-style: none;
}

nav .container1 ul li {
    display: inline;
    

}

nav .Timeline {
    margin:  auto;
}

nav .Timeline::after {
    content: "|";
}
    

nav .About {
    margin: auto;
    
}

nav .About::after {
    content: "|";
}

nav .Welcome {
     margin: 0 auto;
}


nav .Welcome::after {
    content: "|";
}

nav .FWB {
    margin: 0 auto;
    
}

nav .FWB::after {
    content:"|";
}


nav .More {
    margin: 0 auto;
}

.row {
    width: 850px;
    height: 400px;
    margin: 0 auto;
}

.columnl {
    width: 328px;
    height: auto;
    float: left;
    border: solid black 1px;
}

.cInfo1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

.container2 {
    width: 100px;
    height: 100px;
    background-color: red;
}


.column2 {
    width: 512px;
    height: auto;
    float: right;
    border: solid black 1px;
}

.ccolumn {
    width: 100px;
    height: 100px;
    background-color: red;
}
